.vscode/
*.md
!README.md

build/
build-debug/
build_asan/
build-nomalloc/
release-build/
test_logs/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
compile_commands.json

CadGoose
gemini_client_test
wlr-virtual-pointer-unstable-v1-client-protocol.h
wlr-virtual-pointer-unstable-v1-protocol.c
FoundationLLM.*
!PLAN.md
config/logs/
