.vscode/
*.md
!README.md

build/
test_logs/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
compile_commands.json

CadGoose
gemini_client_test
wlr-virtual-pointer-unstable-v1-client-protocol.h
wlr-virtual-pointer-unstable-v1-protocol.c
!PLAN.md
